<footer class="footer">
<div class="wrapper">
  <div class="column">
    <a href="https://www.finbourne.com/" target="_parent" id="hs-link-module_15605042650921753_" style="border-width:0px;border:0px;"><img src="https://www.finbourne.com/hubfs/finbourne-logo-white.svg" class="hs-image-widget " style="width:186px;border-width:0px;border:0px;" width="186" alt="finbourne-logo-white" title="finbourne-logo-white"></a>
    </div>
    <div class="column">
        © 2021 FINBOURNE Technology. All rights reserved
    </div>
 </div>
</footer>
