    {{!-- <title>{{{detag (or page.title defaultPageTitle)}}}
      {{~#with (page-subtitle page)}}{{this}}{{/with~}}
    </title> --}}

<title>{{{detag (or page.title defaultPageTitle)}}}{{#with site.title}} - {{this}}{{/with}}</title>